#grid {
    margin: 0 auto;
    padding: 0;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    border: 1px solid #000000;
}

.box {
    /* width: calc(100%/9);
    height: calc(100%/9); */
    border: 1px solid #000000;
}

.border-top-right {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
}

.border-top-left {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
}

.border-bottom-right {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.border-bottom-left {
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
}

.border-top {
    border-top: 2px solid #000000;
}

.border-bottom {
    border-bottom: 2px solid #000000;
}

.border-right {
    border-right: 2px solid #000000;
}

.border-left {
    border-left: 2px solid #000000;
}

.number-input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 5vmin;
    text-align: center;
    border: none;
}

/* Hide spinners (arrows) on the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]:invalid {
    background: rgba(225, 0, 0, 0.8);
}

.number-set {
    color: rgb(0, 0, 190);
}

#solve {
    margin: 0 45%;
    padding: 5px 10px;
}